body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PlaylistForm + AUtosearch styling */

.playlist-component {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #a3bcf9; */
}

.input-group {
  display: flex;
  justify-content: center;
}


.search-box {
  width: 70%;
  position: relative;
  display: inline-block;
  margin-top:20px;
  margin-bottom: 20px;
}

.autosearch-list-group {
  position: absolute;
  padding: 0;
  top: 100%;
  left: 0;
  right: 0;
}

.list-group-item {
  justify-content: space-between;
}

#list-group-item-override {
  display: flex;
  background-color: #7796CB;
}

.song-card{
  margin:10px;
}


.song-item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white
}

.remove-button{
  height: fit-content;
  /* background-color: #a3bcf9; */
}

.playlist-display{
  display:flex;
  flex-wrap: wrap;
}

.playlist-options{
  display: flex;
  justify-content: center;
  height: fit-content;
  flex:1;
  margin-top:85px;
}

.playlist-tracks{
  flex:2;
  margin-right: 20px;
}

.options-card{
  top: 10px;
  border-radius: 20px;
  width: fit-content;
}

.options-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-button{
  width:fit-content;
  margin:5px;
}

#spotify-button{
  background-color: #1DB954;
}
