body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PlaylistForm + AUtosearch styling */

.playlist-component {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: flex;
  justify-content: center;
}

.search-box {
  width: 70%;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.autosearch-list-group {
  position: absolute;
  padding: 0;
  top: 100%;
  left: 0;
  right: 0;
}

.list-group-item {
  justify-content: space-between;
}

#list-group-item-override {
  display: flex;
}

.song-item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-display{
  display:flex;
  flex-wrap: wrap;
}

.playlist-options{
  flex:1;
  margin-top:56px;
}

.playlist-tracks{
  flex:2;
  margin-right: 20px;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #A3BCF9; */
  background-color: #7796CB;
}

/* root */
#root {
  width: 100%;
  height: 100%;
  /* background-color: #A3BCF9; */
  background-color: #7796CB;
}

/* App.jsx styling */

@media (max-width: 799px) {
  .App {
    background-color: #A3BCF9;
    margin: 0px;
    height: 100%;
  }
}

@media (min-width: 800px) {
  .App {
    background-color: #A3BCF9;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
  }
}

#connect-btn {
  background-color: #576490;
  border-color: #576490;
  border-radius: 0;
}

#add-playlist {
  background-color: #7796CB;
  border-color: #7796CB;
  border-radius: 0;
}

/* Playlist.jsx styling */
.playlist-card {
  background-color: #F5F5F5;
  color: #576490;
}

#delete {
  background-color: #576490;
}

