body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #7796CB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PlaylistForm + AUtosearch styling */

.playlist-component {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #a3bcf9; */
}

.input-group {
  display: flex;
  justify-content: center;
}


.search-box {
  width: 70%;
  position: relative;
  display: inline-block;
  margin-top:20px;
  margin-bottom: 20px;
}

.autosearch-list-group {
  position: absolute;
  padding: 0;
  top: 100%;
  left: 0;
  right: 0;
}

.list-group-item {
  justify-content: space-between;
}

#list-group-item-override {
  display: flex;
  background-color: #7796CB;
}

.song-card{
  margin:10px;
}


.song-item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:white
}

.remove-button{
  height: fit-content;
  /* background-color: #a3bcf9; */
}

.playlist-display{
  display:flex;
  flex-wrap: wrap;
}

.playlist-options{
  display: flex;
  justify-content: center;
  height: fit-content;
  flex:1;
  margin-top:85px;
}

.playlist-tracks{
  flex:2;
  margin-right: 20px;
}

/* root */
#root {
  width: 100%;
  height:100%;
  background-color: #7796CB;
}

/* App.jsx styling */

@media (max-width: 799px) {
  .App {
    background-color: #A3BCF9;
    margin: 0px;
    min-height: 100%;
  }
}

@media (min-width: 800px) {
  .App {
    background-color: #A3BCF9;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100%;
  }
}

#connect-btn {
  background-color: #576490;
  border-color: #576490;
  border-radius: 0;
}

#add-playlist {
  background-color: #7796CB;
  border-color: #7796CB;
  border-radius: 0;
}

/* Playlist.jsx styling */
.playlist-card {
  background-color: #F5F5F5;
  color: #576490;
  min-width: 200px;
}

#delete {
  background-color: #576490;
}

.options-card{
  top: 10px;
  border-radius: 20px;
  width: fit-content;
}

.options-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-button{
  width:fit-content;
  margin:5px;
}

#spotify-button {
  background-color: #1DB954;
}

/* Modal */
.modal-content {
  background-color: black;
  color: #576490;
}

.modal-footer .btn {
  /* background-color: #576490; */
  background-color: #7796CB;
  border-color: #7796CB;
}

.modal-footer .btn:hover {
  background-color: #576490;
  border-color: #576490;
}